modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Build and Start"

[[workflows.workflow]]
name = "Build and Start"
author = 43497196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
